/source/LAB1/nbproject/private/
/source/LAB1/build/
/source/JavaCore-Bai3/nbproject/private/
/source/JavaCore-Bai3/build/
/source/JavaCore-Bai4/nbproject/private/
/source/JavaCore-Bai4/build/
/source/JavaCore-Bai5/nbproject/private/
/source/JavaCore-Bai5/build/
/source/Lab5/nbproject/private/
/source/Lab5/build/
/source/JavaCore-Bai6/nbproject/private/
/source/JavaCore-Bai6/build/
/source/LAB6/nbproject/private/
/source/LAB6/build/
/source/JavaCore-Bai7/nbproject/private/
/source/JavaCore-Bai7/build/
/source/JavaCore-Bai8/nbproject/private/
/source/JavaCore-Bai8/build/
/source/Lab8-LibraryManager/nbproject/private/
/source/Lab8-LibraryManager/build/
/source/ConnectDB/nbproject/private/
/source/ConnectDB/build/
/source/JavaCore-Bai9/nbproject/private/
/source/JavaCore-Bai9/build/
/source/JavaCore-Bai10/nbproject/private/
/source/JavaCore-Bai10/build/
/source/JavaCore-FileManager/nbproject/private/
/source/JavaCore-FileManager/build/
/source/JavaCore-Bai11/nbproject/private/
/source/JavaCore-Bai11/build/