/source/LAB1/nbproject/private/
/source/LAB1/build/
/source/JavaCore-Bai3/nbproject/private/
/source/JavaCore-Bai3/build/
/source/JavaCore-Bai4/nbproject/private/
/source/JavaCore-Bai4/build/
/source/JavaCore-Bai5/nbproject/private/
/source/JavaCore-Bai5/build/