body {
    margin: 0;
    padding: 0;
}
#container {
    float: left;
    width: 100%;
}
#main {
    float: left;
    background-color: #b1b1b1;
    width: 80%;
    height: 300px;
}
#sidebar {
    float: left;
    width: 20%;
    background-color: #e8e8e8;
    height: 300px;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li{
    width: 100%;
    background-color: black;
    padding: 5px;
    border-bottom: 1px solid white;
}
#sidebar ul li a{
    color: #e8e8e8;
    text-decoration: none;
}
#sidebar ul li:hover{
    background-color: #ff00ff;
}